div#selectBox {
	/* width: 250px; */
	position: relative;
	/* height: 50px; */
	/* border-radius: 3px; */
	/* border: solid 1px lightgrey; */
	/* background-color: #fff; */
	/* color: #333; */
	cursor: pointer;
	overflow: hidden;
	transition: .3s;
}
div#selectBox p.valueTag {
	/* padding: 15px; */
	cursor: pointer;
	transition: .2s;
	/* height: 40px; */
}

div#selectBox > img.arrow {
	position: absolute;
	right: 0;
	/* width: 50px; */
	/* padding: 15px; */
}

/*
        для пользователей Safari, Chrome и Opera приятный бонус — стилизованный скролл-бар.
*/
::-webkit-scrollbar {
	background: transparent;
	width: 0.5em;
	position: absolute;
}
::-webkit-scrollbar-track {
	background: transparent;
	position: absolute;
	z-index: -2;
}
::-webkit-scrollbar-thumb {
	/* border-radius: 100px; */
	background: #888;
}

ul#selectMenuBox {
 background: #fff;
 transition: .3s;
 width: 100%;
 /* height: 200px; */
 overflow-y: auto;
 overflow-x: hidden !important;
 position: absolute;
 margin-top: 00px;
 display: block;

}
ul#selectMenuBox > li {
	display: block;
	padding: 10px;
	border-radius: 00px;
	cursor: pointer;
}
ul#selectMenuBox > li.option {
	color: gray;
	padding: 10px;

}
ul#selectMenuBox > li.option:hover {
	color: #333;
	background: #e1e1e1;
	transition: .2s;
}
